*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html,body,#root{
  width: 100%;
  height: 100%;
}
.index_box{
  width: 100%;
  height: 100%;
  background-color: burlywood;
}
.index_main{
  width: 100%;
  height: 210px;
  background-color: blueviolet;
}
.index_buttom{
  width: 100%;
  height: calc(100% - 210px);
  background-color: chartreuse;
}